/* Font style */
/* Navigation */
.raleway {
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}


.color1 {
    color: #4E47FF;
}

.btn1 {
    background-color: #4E47FF;
    cursor: pointer;
    color: white;
    border-radius: 10px;
}
.nav1 .btn1{
    height: 48px;
    width: 132px ;
}
.nav2 .btn1{
    height: 48px;
    width: 174px;
}

.nav1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 50px 150px;
    height: 151px;
}

.nav2 {
    text-align: center;
    margin: 309px 268px  152px;
    height: 237px;
}

/* Banner */
.banner {
    background-image: url('../Assets/Hero-bg.png');
    background-size: cover;
    height: 900px;
    max-width: 5000px;
}

.nav1 h3 {
    font-size: 34px;
}

.nav2 h2 {
    font-size: 65px;
}
body{
    background-color: #EAE9F9;
}

/* Section-1 */
.section1 h3{
    font-weight: bold;
    font-size: 42px;
}
.section1 h4{
    font-size: 24px;
    font-weight: lighter;
}
.section1 .btn1{
    height: 48px;
    width: 229px;
}

.section1 img{
    height: 328px;
    width: 403px;
    border-radius: 30px;
}
.sec1{
    display: flex;
    justify-content: space-evenly;
    margin-top: 116px;
}
.section1again{
    height: 203px;
    width: 517px;
}
